.navBar{
    display: flex;
    background-color: #020e02;
    gap: 270px;
    top: 100px;
    height: 10vh;
    padding-top: 20px;
}
.navBar > img{
   width: 8%;
    height: 6vh;
}
.linkContents{
    display: flex;
    gap: 50px
}
.linkContents >p{
    color: #f4f8fa;
}

.navButton{
    display: flex;
    gap: 20px;
}
.navButton >img{
    height: 5vh;
}